.card-body {
    padding: ;
}

.card-img-top {
    max-height: 310px;
    object-fit: cover;
}

.social-link {
    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #c4c4c4;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #c4c4c4;
}