@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

.header, .footer {
    background: #024702;
}

a.nav-link {
    color: #fff;
}

a.nav-link:hover {
    color: #ffe819;
    font-weight: bold;
}

.main {
    padding: 1rem;
    justify-content: center;
    box-shadow: 0 0 1.25rem 1px rgb(0 0 0 / 10%);
}

.footer {
    padding: 1rem 0 0.5rem 0;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
}

h1 {
    padding: 1rem 0 1rem 0;
}

p {
    padding: 0 3rem 0 3rem;
}